MATERIALSX_CONTROL_ADDR=<LOOPBACK_HOST:PORT>
MATERIALSX_CONTROL_DATA=<LOCAL_CONTROL_DATA_DIRECTORY>
MATERIALSX_DEV_MODE=<0_OR_1>
MATERIALSX_RENDERER_URL=<LOCAL_RENDERER_URL>
MATERIALSX_PYTHON=<ABSOLUTE_PYTHON_PATH>
MATERIALSX_QE_IMAGE=<PINNED_QE_IMAGE>
ROOTFLOWAI_BASE_URL=<SERVER_ONLY_API_BASE_URL>
ROOTFLOWAI_API_KEY=<SERVER_ONLY_SECRET>
ROOTFLOWAI_MODEL=<SERVER_ONLY_MODEL_ID>
MP_API_KEY=<OPTIONAL_MATERIALS_PROJECT_SECRET>
